body {
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

div#content {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 50px;
}

#nabidkaTable {
    margin: auto;
    width: 50% !important;
 }

.podnadpis {
     font-weight: bold;
     font-size: 120%;
 }
 #nadpis {
    font-family: 'Pushster', cursive;
 }
 td button {
     width: 150px;
 }

 div#tester {
     padding-top: 50px;
     margin-left: 25%;
     margin-right: 25%;
     text-align: left;
 }

 p#otazka {
     font-weight: bold;
     font-size: 120%;
     text-align: center;
     padding-bottom: 20px;
 }

.btn-light {
     width: 300px;
 }

 #answerButton {
     text-align: right;
 }

 #bottomPanel {
    text-align: right; 
    margin-top: 25px;
    margin-bottom: 10px;
 }

 #counter {
     text-align: right;
    
 }

 #flexCheckDefault {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
    
 }

.form-check {
    margin-bottom: 5px;
}

h2#congrats {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}
div#toHmpg button {
    margin-right: 15px;
    width: 150px;
}